doctype html
html(lang='en')
  head
    title Login
    script(type='text/javascript').
      const foo = true;
      let bar = function() {};
      if (foo) {
      bar(1 + 5)
      }
  body
    h1 Welcome!
    #container
      p If you want to use our website, please login
      a(href='/auth/google') Login